In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
webdriver_path = "path/to/chromedriver"

In [3]:
service = Service(webdriver_path)
driver = webdriver.Chrome(service=service)

URL = "https://id.indeed.com/m/jobs?q=data%20scientist&1=Indonesia&from=searchOnSerp&sameQ=1"

In [4]:
driver.get(URL)

In [5]:
job_titles = []
companies = []
locations = []

In [6]:
job_entries = driver.find_elements(By.CLASS_NAME, "jobTitle")

In [7]:
for entry in job_entries:
    job_title = entry.text.strip()
    job_titles.append(job_title)

In [8]:
company_entries = driver.find_elements(By.CLASS_NAME, "companyName")

In [9]:
for entry in company_entries:
    company_name = entry.text.strip()
    companies.append(company_name)

In [10]:
location_entries = driver.find_elements(By.CLASS_NAME, "companyLocation")

In [11]:
for entry in location_entries:
    location = entry.text.strip()
    locations.append(location)

In [12]:
driver.quit()

In [13]:
data = {
    "Job Title": job_titles,
    "Company": companies,
    "Location": locations
}

In [14]:
df = pd.DataFrame(data)

In [15]:
print(df.head())

                                Job Title                           Company  \
0                          Data Scientist  PT Neural Technologies Indonesia
1               Data Scientist Specialist           PT. BORWITA CITRA PRIMA
2  SYSTEM ANALYST / SENIOR DATA SCIENTIST                  Kuryo Technology
3              Junior Data Scientist (FT)                      IlmuOne Data
4                          Data Scientist                            TyrAds

   Location
0   Jakarta
1  Sidoarjo
2  Surabaya
3   Jakarta
4  Denpasar

In [16]:
df.to_excel("indeed_job_search_results.xlsx", index=False)